{% extends "base.html" %}


{% block header %}My secrets{% endblock %}


{% block body %}

<form method="post">
    {% csrf_token %}
    {% with field=form.title %}
        {% include "snippets/input-field.html" with field=field %}
    {% endwith %}

    {% with field=form.extra %}
        {% include "snippets/input-field.html" with field=field %}
    {% endwith %}

    <input type="submit"
           value="Create secret"
           class="btn btn-outline-dark form-control mt-3">
</form>

<hr class="mt-4 mb-4">

<table class="table table-light table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Extra</th>
        </tr>
    </thead>
    <tbody>
        {% for secret in secrets %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{secret.title}}</td>
            <td>{{secret.extra}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


