{% extends "base.html" %}


{% block header %}My secrets{% endblock %}

{% block body %}
<table class="table table-light table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Extra</th>
        </tr>
    </thead>
    <tbody>
        {% for secret in secrets %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{secret.title}}</td>
            <td>{{secret.extra}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


