{% load static %}

<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <script src="{% static 'bootstrap.min.js' %}"></script>

    <title>
        {% block title %}Secret manager{% endblock %}
    </title>
</head>

<body>
    <div class="container">
        <nav>
            <ul class="nav justify-content-center">
                {% comment %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ routers.index }}">
                        Index
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ routers.books }}">
                        Books
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ routers.readers }}">
                        Readers
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ routers.users }}">
                        Users
                    </a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="nav-link active" aria-current="page">
                        | {{ user.username }} (
                            <a href="{% url 'logout' %}">Выйти</a>
                        )
                    </span>
                </li>
               {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link active" aria-current="page">
                        | Войти
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'create-user' %}" class="nav-link active" aria-current="page">
                        Регистрация
                    </a>
                </li>
                {% endif %}
            </ul>
            {% endcomment %}
        </nav>

        <h1 class="mt-3 mb-5">
            {% block header %}{% endblock %}
        </h1>

        {% block body %}{% endblock %}
    </div>
</body>
</html>
