{% load static %}

<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <script src="{% static 'bootstrap.min.js' %}"></script>

    <title>
        {% block title %}Secret manager{% endblock %}
    </title>
</head>

<body>
    <div class="container">
        <nav>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a href="{% url 'secret-list' %}" class="nav-link active" aria-current="page">
                        Secrets
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link active" aria-current="page">
                        |
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link active" aria-current="page">
                        Update encoding key
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link active" aria-current="page">
                        Clear session
                    </a>
                </li>
            </ul>
        </nav>

        <h1 class="mt-3 mb-5">
            {% block header %}{% endblock %}
        </h1>

        {% block body %}{% endblock %}
    </div>
</body>
</html>
